<ion-view hide-nav-bar="true">
    <ion-content padding="true">
	  <div class="center">
		<img src="https://cdn.rawgit.com/tarekeldeeb/quranquiz/master/android-app/res/drawable-xhdpi/ic_launcher.png" 
			style="margin-top: 40%">
		<h2>شبكة اختبار القران</h2>
		<br><br>
		<div ng-if="loadingDone!=true" ng-init="loadingDone = false">
		  <ion-spinner></ion-spinner>
		</div>
		<div ng-if="loadingDone==true">
			<a nav-transition="android" href="#/q/study" class="button icon-right ion-chevron-right button-calm">دخول</a>
		</div>
	  </div>
    </ion-content>
</ion-view>
