<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title"><img height="30px" style="margin-top: 5px;" src="img/launcher_36.png">
        <strong style="position: relative; bottom: 7px;">&nbsp;&nbsp;&nbsp;اخـتـبَـار الـقُـرآن</strong>
      </h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item-icon-right" href="#/q/profile">
          <i class="icon ion-ios-person-outline"></i>
          ملفي
        </ion-item>
        <ion-item menu-close class="item-icon-right" href="#/q/study">
          <i class="icon ion-ios-toggle-outline"></i>
          حفظي
        </ion-item>
        <ion-item menu-close class="item-icon-right" href="#/q/settings">
          <i class="icon ion-ios-settings"></i>
          الاعدادات
        </ion-item>
	  </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
