<ion-view view-title="ملفي">
	<ion-content ng-controller="google">
		<!-- Display login form in case if no social login-->
		<div ng-if="social.type != 'google'" ng-init="social={}">
			<br />
			<div class="login" style="width: 100%;text-align: center">
				<h3>برجاء تسجيل الدخول .. </h3><br /><br />
				<button ng-click="login();" class="button button-assertive ion-social-googleplus" style="margin-bottom:10px">&nbsp;&nbsp;حساب جوجل</button>
				<button ng-click="" class="button button-positive ion-social-facebook">&nbsp;&nbsp;حساب فيسبوك</button>
			</div>
		</div>
		<!-- Display Profile when user has logged in -->
		<div ng-if="social.type == 'google'">
			<div id="profile-bg"></div>
			<div id="content">
				<div id="profile-info">
					<a ng-href={{social.data.profile}}>
					<img id="profile-image" ng-src={{social.data.picture}}>
					</a>
					<h3 id="profile-name">{{social.data.name}}</h3>
					<div id="profile-description">{{social.data.email}}</div>
					<button ng-click="logout();" class="button button-small button-light">&nbsp;&nbsp;خروج&nbsp;&nbsp;</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>