<ion-view view-title="ملفي">
	<ion-content ng-controller="google" padding="true">
		<!-- Display login form in case if no social login-->
		<div ng-if="social.type != 'google'" ng-init="social={}">
			<br />
			<div class="login" style="width: 100%;text-align: center">
				<h3>برجاء تسجيل الدخول .. </h3><br /><br />
				<button ng-click="login();" class="button button-assertive ion-social-googleplus" style="margin-bottom:10px">&nbsp;&nbsp;حساب جوجل</button>
				<button ng-click="" class="button button-positive ion-social-facebook">&nbsp;&nbsp;حساب فيسبوك</button>
			</div>
		</div>
		<!-- Display Profile when user has logged in -->
		<div ng-if="social.type == 'google'">
			<div id="profile_bg"></div>
			<div id="content">
				<div id="profile_info">
					<a ng-href={{social.data.profile}}>
						<img id="profile_image" ng-src={{social.data.picture}}>
					</a>
					<h3 id="profile_name">{{social.data.name}}</h3>
					<div id="profile_description">{{social.data.email}}</div>
					<button ng-click="logout();" class="button button-small button-stable">&nbsp;&nbsp;خروج&nbsp;&nbsp;</button>
				</div>
			</div>
		</div>
		<!-- Horizontal, rounded -->
		<div class="chartcontainer horizontal rounded">
			<div class="progress_bar horizontal" ng-click="showInfo(INFO_PROFILE_)">
				<span class="progress_text">كم الحفظ</span>
				<div class="progress_track">
					<div class="progress_fill">
						<span>{{pcnt_total_study}}</span>
					</div>
				</div>
			</div>
			<div class="progress_bar horizontal">
				<span class="progress_text">صحة الحفظ</span>
				<div class="progress_track">
					<div class="progress_fill">
						<span>{{pcnt_total_ratio}}</span>
					</div>
				</div>
			</div>
			<div class="progress_bar horizontal">
				<span class="progress_text">الأسئلة الخاصة</span>
				<div class="progress_track">
					<div class="progress_fill">
						<span>{{pcnt_total_special}}</span>
					</div>
				</div>
			</div>
			<div class="progress_bar horizontal">
				<span class="progress_text">التصنيف</span>
				<div class="progress_track">
					<div class="progress_fill">
						<span>{{pcnt_total_rank}}</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>