<ion-view view-title="اختبار القران">
  <ion-content class="padding">
	  <div class="flip-container" id="flip-container">
		<div class="flipper">
			<div class="front">
				<!-- front content -->
				<div class="list card">
					<div class="item item-divider item-text-wrap quran" id="qquestion" align="right">{{question}}</div>
					<div class="item item-body">
						<div class="row">
						  <div class="col-67">
							<div ng-repeat="n in [0, 1, 2, 3, 4]">
								<button class="button button-stable button-block quran" ng-click="selectOption(n)">{{options[n]}}</button>
							</div>	
						  </div>					
						  <div class="col-33 col-center" style="padding-right:10px;">
							<button class="button button-small button-clear button-full button-positive" id="instruction">اختر التكملة الصحيحة</button>
							<button class="button button-large button-clear button-full button-balanced score">{{score}}</button>
							<div class="row">
								<div class="col">
									<button class="button button-small button-clear button-block button-balanced score">
										{{score_up}}<br /><i class="icon ion-arrow-up-b"></i>
									</button>
								</div>
								<div class="col">
									<button class="button button-small button-clear button-block button-assertive score">
										-{{score_down}}<br /><i class="icon ion-arrow-down-b"></i>
									</button>
								</div>
							</div>
							<button class="button button-clear button-outline button-block button-assertive" ng-click="skipQ()">لا أعلم <i class="icon ion-sad-outline"></i>
</button>
						  </div>
						</div>
					</div>
					<div class="item item-divider"  align="right">اجابة .. صحيحة </div>
				</div>
			</div>
			<div class="back">
				<!-- back content -->
				<div class="list card">
					<div class="item item-divider" align="right">{{question}}</div>
					<div class="item item-body">
						<h4>Test bravo!</h4>
						<button class="button button-stable button-block" ng-click="flip()">حسنا</button>
					</div>
					<div class="item item-divider"  align="right">اجابة .. صحيحة </div>
				</div>
			</div>
		</div>
	  </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
