<ion-view view-title="نطاق الحفظ">
	<div class="float-button">
	  <span class="height-fix">
		 <button class="button button-stable button-outline" ng-click="toggleParts()">
			<i class="icon ion-shuffle"></i>
		 </button>
	  </span>
	</div>
  <ion-content>
    <ion-list>
	<ion-toggle class="item-icon-left toggle-balanced" ng-repeat="part in profile.parts" ng-model="part.checked" ng-change="saveParts()">
            <i ng-class="getIcon(part)"></i>
            <h3>{{part.name}}</h3>
			<h5>
				<!-- TODO: Reverse Ellipses for narrow screens -->
				<span class="item-note"> اجاباتك الصحيحة {{part.numCorrect|countedScore}} من {{part.numQuestions|countedScore}}</span>
			</h5>
	</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
