<ion-view view-title="Chats">
 <ion-content ng-controller="google">
 
	<div id="profile-bg"></div>
	<div id="content">
		<div id="profile-info">
		  <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
		  <h3 id="profile-name">Max</h3>
		  <span id="profile-description">Co-creator of <a href="http://twitter.com/ionicframework">@ionicframework</a>, founder of
			<a href="http://twitter.com/driftyco">@driftyco</a></span>
		</div>
	</div>	
		
	<br/>
	<div class="login" style="width: 100%;text-align: center">
		<button ng-click="login();" class="button">
			Login Via Google
		</button>                        
		<br/>
		<pre>
		{{google_data|json}}
		</pre>
	</div>
  </ion-content>
</ion-view>
